
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUser</title>
</head>
<body>
    @using (Html.BeginForm("Register","Account", FormMethod.Post))
    {

    }
</body>
</html>
