<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/normalize.min.css" rel="stylesheet" />
    <script src="~/Scripts/modern.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="header-container">
            <header class="wrapper clearfix">
                <img src="~/image/nwulogo1.png" />
                <nav>
                    <ul>
                        <li><a href="#">Livredder</a></li>
                        <li><a href="#">Vagt</a></li>
                        <li class="dropdown-menu"><a href="#">Vagtcentralen</a></li>

                    </ul>
                </nav>
            </header>
        </div>
        @RenderBody()
    </div>
</body>
</html>
